@media (max-width: 991px){
    .text-content{
        width: 100%;
    }

    .navigation-wrap .navbar-brand img{
        height: 3.8125rem;
    }
    .navigation-wrap{
        text-align: center;
        background-color: var(--primary-color);
    }
    .navigation-wrap .nav-link{
        line-height: 1.875rem;
    }

    .top-banner{
        padding: 9.375rem 0 9.375rem;
    }
}

@media (max-width: 767px){
    h1{
        font-size: 2.8rem;
    }
    h2{
        font-size: 2rem;
        line-height: 2.0628rem;
    }
    .top-banner{
        padding: 10.875rem 0 9.375rem;
    }
    .watch_button{
        margin-bottom: 18px;
    }
}

/*teachers*/

@media (max-width: 768px) {
  .main-card .cards .card{
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 600px) {
  .main-card .cards .card{
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}
  


