@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



*,
*::after,
*::before{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:active,
:hover,
:focus{
    outline: 0;
    outline-offset: 0;
}
#telegram{
    text-decoration: none;
    color: var(--primary-color);
}
a,
a:hover{
    text-decoration: none;
}
a:hover{
    color: var(--primary-color);
}
ul,
ol{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #d35f11;
    --secondary-color: #f4bf06;
    --third-color: #A82C48;
    --white-color: #fff;
    --text-color: #555;
    --black-color: #000;
    --primary-font: 'Roboto', sans-serif;
    --transition-time: 0.5s;

}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--primary-font);
    
    font-size: 100%;
    font-weight: 400;
}

::-webkit-scrollbar{
    width: 0.625rem;
}
::-webkit-scrollbar-track{
    background: var(--white-color);
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}
h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: var(--white-color);
}


h2{
    font-weight: 700;
    font-size: 2.25rem;
    text-transform: capitalize;
    color: var(--secondary-color);
    line-height: 3rem;

}
h4{
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    color: var(--secondary-color);
    line-height: 3rem;
}
h5{
    color: var(--primary-color);
    text-transform: capitalize;
    font-family: var(--secondary-color);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
p{
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 1px;
}

.main-btn{
    display: inline-block;
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color: var(--primary-color);
    border: 0.1875rem solid var(--primary-color);
    border-radius: 15px;
    color: var(--white-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 /19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
}
.white-btn{
    text-decoration: none;
    padding: 0.625rem 1.875rem;
    line-height: 25px;
    background-color: var(--white-color);
    border: 0.1875rem solid var(--white-color);
    border-radius: 15px;
    color: var(--primary-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 /19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
}
.main-btn:hover{
    background-color: transparent;
    color: var(--primary-color);
}
.white-btn:hover{
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.wrapper{
    padding-top: 8.25rem;
    padding-bottom: 8.25rem;
}
.text-content{
    width: 70%;
    margin: auto;
}
.counter-section h2,
.testmonial-section h2,
.book-food-text h2{
    color: var(--white-color);
}

/* Header */

.navigation-wrap{
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navigation-wrap .nav-item{
    
    padding: 0 0.625rem;
    transition: all 200ms linear;
    
    
}
.navigation-wrap .nav-item a{
    
    color: var(--white-color);
}
.navbar{
    background-color: var(--primary-color);
    
}
.navbar-brand img{
    height: 3rem;
}
.navbar-toggler:focus{
    outline: unset;
    border: unset;
    box-shadow: none;
    
    
}
.navbar-toggler-icon{
    border-color: #fff;
}
.nav-link{
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--primary-color);
    letter-spacing: 1px;
}
.navigation-wrap .main-btn{
    padding: 0.315rem 1.4375rem;
    box-shadow: none;
    margin-left: 0.625rem;
}
.navigation-wrap.scroll-on{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 0.125rem 1.75rem 0 #fff;
    transition: all .15s ease-in-out 0s;

}

/* banner section*/
.top-banner{
    width: 100%;
    background: url(../images/bg3.jpg) no-repeat center;
    background-size: cover;
    padding: 16.875rem 0 16.875rem;
}
.banner_text{
    color: var(--white-color);
}

/* counter section */
.center{
    
    text-align: center;
    padding: 30px 0 0px;
    text-decoration: underline;
    
}
.about-box{
   
    padding: 50px;
}
.about-box p{
    color: var(--third-color);
    text-transform: uppercase;
}
.partners p{
    color: var(--third-color);
    font-size: 25px;
    font-family: var(--primary-font);
    font-weight: bold;
    
}
.beenz{
    height: 3rem;
    padding-bottom: 5px;
}

/* about section */

#about{
    background: #d35f111c;
    
}
.parners_h1{
    color: var(--third-color);
}
.about-section .card,
.about-section img{
    border-radius: 0.625rem;
}
.about-section .text-sec{
    padding-left: 2rem;
}
.img-fluid{
    border-radius: 0.625rem;
}



/* history sector */

.carusel-item{
    height: 100vh;
}
.carusel-item h1{
    margin-top: 40px;
    font-weight: bold;
    
}
.carusel-item p{
    margin-top: 30px 0 50px;
    font-size: 25px;
    color: var(--text-color);
}
.carousel{
    margin: 150px 0 70px;
}

/*teachers*/

.teacher-section{
    background-color: var(--primary-color);
}
.teacher-section .carousel-item{
    margin: 2rem;
    padding: 8rem 3.125rem;
    background-color: #fff;
    border-radius: 0.93rem;
    
}
.teacher-section .carousel-item img{
    max-width: 5rem;
    border-radius: 50%;
    
    
}

.teacher-section .carousel-item .carousel-caption p{
    font-size: 1.3125rem;
    line-height: 2.0625rem;
    padding: 0 11% 0.625rem;
}
.teacher-section .carousel-indicators{
    bottom: -2.8125rem;
}
.teacher-section .carousel-indicators button{
    width: 15px;
    height: 15px;
    outline: none;
    border-radius: 50%;
    border: none;
    margin-right: 1rem;
    opacity: 0.2;
}
.teacher-section .carousel-indicators button.active{
    opacity: 1;
}

/*---------------teacher-----------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------*/
#teachers{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  
  position: relative;
  }
#teachers::before{
  content: '';
  position: absolute;
  width: 100%;
  background: var(--third-color);
  clip-path: inset(47% 0 0 0);
  z-index: -1;
  height: 100%; 
  }
::selection{
  background:	var(--third-color);
  color: #fff;
  }
  #container{
    max-width: 950px;
    width: 100%;
    overflow: hidden;
    padding: 80px 0;
  }
  #container .main-card{
    display: flex;
    justify-content: space-evenly;
    width: 200%;
    transition: 1s;
  }
  #two:checked ~ .main-card{
    margin-left: -100%;
  }
  #container .main-card .cards{
    width: calc(100% / 2 - 10px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-between;
  }
  .main-card .cards .card{
    width: calc(100% / 3 - 10px);
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
  }
  .main-card .cards .card:hover{
    transform: translateY(-15px);
  }
  .cards .card .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .cards .card .content .teacher-img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 3px;
    background: var(--third-color);
    margin-bottom: 14px;
  }
  .card .content .teacher-img img{
    height: 100%;
    width: 100%;
    border: 3px solid #ffff;
    border-radius: 50%;
    object-fit: cover;
  }
  .card .content .name{
    font-size: 20px;
    font-weight: 500;
  }
  .card .content .job{
    font-size: 20px;
    color: var(--third-color);
  }
  .card .content .media-icons{
    margin-top: 10px;
    display: flex;
  
  }
  .media-icons a{
    text-align: center;
    line-height: 33px;
    height: 35px;
    width: 35px;
    margin: 0 4px;
    font-size: 14px;
    color: #FFF;
    border-radius: 50%;
    border: 2px solid transparent;
    background: var(--third-color);
    transition: all 0.3s ease;
  }
  .media-icons a:hover{
    color: var(--third-color);
    background-color: #fff;
    border-color: var(--third-color);
  }
   .container .button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .button label{
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background: #fff;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .button label.active{
    width: 35px;
  }
  #one:checked ~ .button .one{
    width: 35px;
  }
  #one:checked ~ .button .two{
    width: 15px;
  }
  #two:checked ~ .button .one{
    width: 15px;
  }
  #two:checked ~ .button .two{
    width: 35px;
  }
  input[type="radio"]{
    display: none;
  }
  
  .marquee{
    width:100%;
    white-space:nowrap;
    overflow:hidden;
    }
     
    .marquee span {
    color:var(--secondary-color);
    font-size:25px;
    display:inline-block;
    padding-left:100%;
    -webkit-animation: marquee 10s infinite linear;
    animation: marquee 10s infinite linear;
    }
     
    @-webkit-keyframes marquee {
    0%{-webkit-transform: translate(0, 0);}
    100%{-webkit-transform: translate(-100%, 0);}
    }
    @keyframes marquee{
    0%{transform: translate(0, 0);}
    100%{transform: translate(-100%, 0)}
    }